<!DOCTYPE html>
{% extends "emergency/base.html" %}


    {% block body_block %}
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4 font-weight-bold text-info">Based on the used medical criteria, <span class="text-danger">we find your case to be urgent, we recommend going to</span> <span class="text-warning">the hospital.</span></h4>
    <p></p>
    <p class="lead font-weight-bold text-info">Thank you for using codepoiesis.</p>
  </div>
</div>



    {% endblock %}
